# Created by .ignore support plugin (hsz.mobi)
### psobow gitignore template
.gradle
!gradle/wrapper/gradle-wrapper.jar

#match directories anywhere in the repository.
**/out
**/build

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
